.table-container {
  margin-top: 1rem;
}

.table-cell-author {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  @media (max-width: 600px) {
    div {
      display: none;
    }
  }
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}
